# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master, release/3.0.0 ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2
      with:
        lfs: true

    # Runs a single command using the runners shell
    - name: Zip sample data
      run: zip -r adminOnlySampleData.zip ./Setup/adminOnlySampleData/ -j -x '*.gitattributes*'

    - name: Upload a Build Artifact to Azure Blob Storage
      uses: fixpoint/azblob-upload-artifact@v3.3
      with:
        # Connection string
        connection-string: ${{ secrets.BLOB_STORAGE_CONNECTION_STRING }}
        # Artifact name
        name: .
        # Directory containing files to upload
        path: adminOnlySampleData.zip
        # Container name
        container: sample-data # optional, default is github-action-artifacts
        # Remove all blobs under the target blob (use "true" to enable this option)
        cleanup: true # optional, default is false
